body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}
h1 {
    color: white;
}
nav {
    background-color: #1abc9c;
}
li {
    list-style: none;
}
li:hover {
    cursor: pointer;
}
input {
    margin-left: 10px;
    margin right:10px;
    margin-bottom: 20px;
}
.form-control{
    width:unset;
    max-width: 100%;
}

.sideMenu {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e74c3c;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sideMenu a:hover {
    color: #f1f1f1;
}

.sideMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#map {
    height: calc(100vh - 62px);
    padding: 0;
    margin: 0;
}
.displayImage {
    width: 220px;
    height: 200px;
}

@media screen and (max-height: 450px) {
  .sideMenu {padding-top: 15px;}
  .sideMenu a {font-size: 18px;}
}